<br><br><br><br><br><br>
<center><h1>Hi <%=user_name%></h1></center>
<!-- <a href="/">Try Again</a> << gives a link to back to name discription-->

<center><h1>How Old Are You?</h1></center>

<form action='age' method='post'>
	<input type = "text" name = "age_input"><br>
	<input type = "text" name = "user_name" value = < <%user_name%> hidden>
	<input type='submit'>

</form>
