<br><br><br><br><br><br>
<center><h1>Hi <%=user_name%></h1>
<!-- <a href="/">Try Again</a> << gives a link to back to name discription-->

<h1>How Old Are You?</h1>

<form action='age' method='post'>
	<input type = "text" name = "user_age"><br>
	<input type = "text" name = "user_name" value = <%=user_name%> hidden>
	<p><input type='submit'></p>

</form></center>
