<br><br><br><br><br><br>
<center><h1><%=user_name%> is <%=user_age%> years old.</h1>

<h1>What Is Your 3 Favorite Numbers?</h1>

<form action='favorite' method='post'>
		<input type = "text" name = "favorite_input">
		<input type = 'text' name = "user_age">
		<input type = "text" name = "user_name">
		<p><input type='submit'></p>

</form></center>